<%@ Master Language="C#" MasterPageFile="~/PaginasMaestras/Site.Master" AutoEventWireup="true" CodeBehind="frmMenuSocioe.master.cs" Inherits="SerpientedeAgua.PaginasMaestras.Padron.frmMenuSocioe" %>
<%@ Register src="../../Controles/Catalogos/Padron/cntMenuSocioe.ascx" tagname="cntMenuSocioe" tagprefix="uc1" %>
<%@ Register src="../../../Controles/Catalogos/Padron/cntMenuSocioe.ascx" tagname="cntMenuSocioe" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        <uc2:cntMenuSocioe ID="cntMenuSocioe1" runat="server" />
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
