<%@ Master Language="C#" MasterPageFile="~/PaginasMaestras/Site.Master" AutoEventWireup="true" CodeBehind="FrmMenuRegiones.master.cs" Inherits="SerpientedeAgua.PaginasMaestras.Padron.FrmMenuRegiones" %>
<%@ Register src="../../Controles/Catalogos/Padron/CtnMenuRegiones.ascx" tagname="CtnMenuRegiones" tagprefix="uc1" %>
<%@ Register src="../../../Controles/Catalogos/Padron/CtnMenuRegiones.ascx" tagname="CtnMenuRegiones" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        <uc2:CtnMenuRegiones ID="CtnMenuRegiones1" runat="server" />
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
