<%@ Master Language="C#" MasterPageFile="~/PaginasMaestras/Site.Master" AutoEventWireup="true" CodeBehind="frmMenuTipoContrato.master.cs" Inherits="SerpientedeAgua.PaginasMaestras.Padron.frmMenuTipoContrato" %>
<%@ Register src="../../Controles/Catalogos/Padron/CtnMenuTipoContrato.ascx" tagname="CtnMenuTipoContrato" tagprefix="uc1" %>
<%@ Register src="../../../Controles/Catalogos/Padron/CtnMenuTipoContrato.ascx" tagname="CtnMenuTipoContrato" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        <uc2:CtnMenuTipoContrato ID="CtnMenuTipoContrato1" runat="server" />
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
