<%@ Master Language="C#" MasterPageFile="~/PaginasMaestras/Site.Master" AutoEventWireup="true" CodeBehind="MstMenuOrdenes.master.cs" Inherits="SerpientedeAgua.PaginasMaestras.Cis.MstMenuOrdenes" %>
<%@ Register src="../../Controles/Paginas/Cis/CtnMenuCis.ascx" tagname="CtnMenuCis" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:CtnMenuCis ID="CtnMenuCis1" runat="server" />
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
