<%@ Master Language="C#" MasterPageFile="~/PaginasMaestras/Site.Master" AutoEventWireup="true" CodeBehind="FrmMenuAvisos.master.cs" Inherits="SerpientedeAgua.PaginasMaestras.Cobranza.FrmMenuAvisos" %>
<%@ Register src="../../Controles/Paginas/Cobranza/CtnMenuAvisos.ascx" tagname="CtnMenuAvisos" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:CtnMenuAvisos ID="CtnMenuAvisos1" runat="server" />
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
