<%@ Master Language="C#" MasterPageFile="~/PaginasMaestras/Site.Master" AutoEventWireup="true" CodeBehind="FrmMenuCargos.master.cs" Inherits="SerpientedeAgua.PaginasMaestras.MenuCatologos.Conceptos.FrmMenuCargos" %>
<%@ Register src="../../../Controles/Catalogos/Conceptos/CtnMenuCargos.ascx" tagname="CtnMenuCargos" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        <uc1:CtnMenuCargos ID="CtnMenuCargos1" runat="server" />
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
