<%@ Master Language="C#" MasterPageFile="~/PaginasMaestras/Site.Master" AutoEventWireup="true" CodeBehind="frmMenuRubros.master.cs" Inherits="SerpientedeAgua.PaginasMaestras.MenuCatologos.Conceptos.frmMenuRubros" %>
<%@ Register src="../../../Controles/Catalogos/Conceptos/ctnMenuRubros.ascx" tagname="ctnMenuRubros" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        <uc1:ctnMenuRubros ID="ctnMenuRubros1" runat="server" />
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
