<%@ Master Language="C#" MasterPageFile="~/PaginasMaestras/Site.Master" AutoEventWireup="true" CodeBehind="MstMenuUsuariosSist.master.cs" Inherits="SerpientedeAgua.PaginasMaestras.MenuCatologos.Sistema.MstMenuUsuariosSist" %>
<%@ Register src="../../../Controles/Catalogos/Sistema/CtlMenuUsuariosSist.ascx" tagname="CtlMenuUsuariosSist" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        <uc1:CtlMenuUsuariosSist ID="CtlMenuUsuariosSist1" runat="server" />
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
